<div class="header-wrapper">
    <header class="article-header">
        <div class="clearfix">
            {{ if $.IsPage }}
            {{ if in "post video" .Section }}
            <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            {{ end }}
            {{ if eq "link" .Section }}
            <h2 class="title"><a href="{{ .Params.link }}">{{ .Title }}</a></h2>
            {{ end }}
            {{ if eq "quote" .Section }}
            <h2 class="title">{{ .Title }}</h2>
            {{ end }}
            {{ else }}
            <h2 class="title">{{ .Title }}</h2>
            {{ end }}
            {{ partial "facts.html" . }}
        </div>
    </header>

</div>